---
permalink: /:language/:t.slug/
subset: about
languages:
- en
- fr
---
{% include top.html %}

<div class="container">
    <h3>{% t 'page.about' %}</h3><br>
    <p>
        {% t 'createdAndMaintained' %} <a href="https://github.com/FxMorin" target="_blank">FX Morin</a>. <i>{% t 'thatsMe' %}</i>
    </p>
    <p>
        {% t 'aboutMe' %} <a href="{{ site.url }}/{{ page.language }}/?firm=Ekos&startDate=2024-12-30&endDate=2025-04-06" target="_blank">{% t 'ekosTreason' %}</a> {% t 'whileThe' %}
        <a href="https://www.canadianresearchinsightscouncil.ca/standards/por/" target="_blank">{% t 'CRIC' %}</a>
        {% t 'didNothing' %}
    </p>
    <p>
        {% t 'discovered' %}
        <a href="https://en.wikipedia.org/wiki/Frank_Graves_(pollster)" target="_blank">Frank Graves</a>,
        {% t 'thePresidentOfEkos' %} <a href="https://nationalpost.com/opinion/geoff-russ-ekos-boss-frank-graves-ill-advised-threat-to-keep-pierre-poilievre-from-winning" target="_blank">
        {% t 'admittedItOnX' %}</a>{% t 'seriously' %}
    </p>
    <p>
        {% t 'breakingPoint' %}
    </p>

    <br>
    <h4>{% t 'titles.transparencyMatters' %}</h4>

    <p>
        {% t 'unlikePollsters' %}
    </p>
    <p>
        {% t 'wantToHelp' %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank">https://github.com/PollsterAudit</a>
    </p>

    <br>
    <h4>{% t 'titles.goal' %}</h4>

    <p>
        {% t 'trustGone' %}
    </p>
    <p>
        {% t 'theGoal' %}
    </p>

    <br>
    <h4>{% t 'titles.supportTheProject' %}</h4>

    <p>
        {% t 'everyDollar' %}
    </p>

    <p>
        {% t 'supportThrough' %} <a href="https://opencollective.com/{{ site.opencollective }}" target="_blank">Open Collective</a>{% t 'thePlatform' %}
    </p>
</div>

{% include footer.html %}